.app {
    padding: 30px;
    display: flex;
    justify-content: left;
}

.app > div {
    margin-right: 50px;
}

ul {
    list-style: none;
    padding-left: 0;
    margin: 5px 0px 5px 0px;

}

.task {
    font-weight: normal;
}

.task.done {
    opacity: 0.5;
    text-decoration: line-through;
}

.App {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: top;
    width: 100%;
    margin: 0 auto;
    max-width: 800px;
    padding: 16px;
    gap: 20px;
}

.lists {
    border: 2px solid white;
    padding: 16px;
    border-radius: 15px;
    width: 250px;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.list-content {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;

}

h3 {
    font-size: 1.2em;
    line-height: 1.1;
    margin-top: 0;
    margin-bottom: 15px;
    padding-top: 0;
}

.task-input {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.input-form {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 5px;
}



.limits-notification {
    font-size: 0.7em;
    color: lightgray;
    margin-top: 5px;
    height: 1px;
}

.buttons_bottom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    font-size: 10px;
    margin-top: 20px;
}

.btn {
    width: 80px;
    cursor: pointer;
}

.btn-filter-active {
    border-radius: 3px;
    background-color: chocolate;
    border: 1px solid white;
    color: white;
    width: 80px;
}

.input-error {
    border: 3px solid rgb(117, 0, 0);
    background-color: red;
}

.add-button {
    cursor: pointer;
}

.btn-delete {
    margin-right: 5px;
    width: 15px;
    height: 15px;
    padding: 0px;
    font-size: 10px;
    border-style: hidden;
    border-radius: 2px;
    cursor: pointer;
}
.list-row {
    display: flex;
    align-items: center;
}

.input-note {
    font-size: xx-small;
    height: 17px;
}

.list-tasks {
	margin-top: 15px;
}
