:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    display: flex;
    min-width: 320px;
    min-height: 100vh;
    background-color: black;
    color: white;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: ivory;
    }
}

#root {
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    display: flex;
    padding: 16px;
    gap: 20px;
}

